# WireGuard generated secrets and runtime configurations
/azure/keys/
/home/keys/
/azure/wg0.conf
/home/wg0.conf

# Minecraft local runtime data and environment
/home/be/data/
/home/be/.env
/home/java/data/
/home/java/.env

# macOS metadata
.DS_Store
